/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 18 нояб. 2024 г., 19:38:05
    Author     : amaka
*/

.mainTable {
     width: 100%;
     border-collapse: collapse;
     margin-bottom: 20px;
}