
body {
     font-family: Arial, sans-serif;
     font-size: 16px;
     margin: 0 !important;
     padding: 0 !important;
     overflow: hidden;
}

#header {
     width: 100%;
     height: 100px;
     background-color: #90EE90;
     position: fixed;
     top: 0 !important;
}

#footer {
     position: absolute;
     bottom: 0 !important;
     width: 100%;
     height: 100px;
     background-color: #778899;
}

.loginContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: calc(100vh - 220px);
   overflow-y: auto;
}

.contentContainer{
 position: relative;
 margin: 100px 10px 100px;
 padding: 10px;
 height: calc(100vh - 220px);
 overflow-y: auto;
}

.unregisterUserMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 100px 10px 100px;
    padding: 10px;
}

.headerContainer {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.headerLeftPanel {
  padding-left: 20px;
  padding-right: 10px;
}
.headerCenterPanel {
   display:flex;
   flex-grow: 1;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.headerRightPanel {
   padding-left: 10px;
   padding-right: 20px;
}

.primaryButton {
  padding: 10px 20px;
  font-size: 16px;
  margin: 6px;
  cursor: pointer;
  border-radius: 10px;
  border: solid 1px #778899;
  background-color: #B0C4DE;
}

.cardsContainer {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    cursor: pointer;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    background-color: #D2B48C;
    color: #FAF0E6;
}

.mainTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.mainTable > thead > tr > th, .mainTable > tbody > tr > th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.mainTable > thead > tr {
    background-color: #4CAF50;
    color: white;
}

.mainTable > tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
}

.modal {
    position:absolute;
    background-color: #D2B48C;
    border: 1px solid #dddddd;
    left: 0;
    top: 190px;
    border-radius: 6px;
    z-index: 1000;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modalContent > div {
    margin-top: 10px;
}

.modalAction {
    text-align: center;
}

