
.treatmentCard, .eventCard{
    margin: 20px;
    padding: 10px;
    background-color: #00BFFF;
}

.treatmentUrgentCard {
    background-color: #FF8C00 !important;
}

.treatmentActions {
    margin-top: 20px;
    margin-bottom: 20px;
}

